@model IEnumerable<DBIT.Office>

@{
    ViewData["Title"] = "Index";
}

<h1>Офіси</h1>

<p>
    <a asp-action="Create">Створити офіс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Площа")
            </th>
            <th>
                @Html.DisplayName("Адреса")
            </th>
            <th>
                @Html.DisplayName("Місто")
            </th>
            <th>
                @Html.DisplayName("IT компанія")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Square)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItCompany.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
